# Dependencies
node_modules/
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Debug
.npm
.eslintcache
.node_repl_history

# Optional
*.tgz
.yarn-integrity
.cache/
dist/
build/
